

<ion-content nopadding>
  <div style="background-color:rgb(17, 66, 25); height: 100%;width: 100%; border-radius: 0px 0px 0px 70px;">
    <ion-row   style="border-radius: 0px 0px 0px 40px;width: 100%;background-color:white; padding: 10px">
      <div>
          <ion-icon  name="arrow-back"></ion-icon>
      </div>
       <div>
        
          <b> <p style="width:100%;color:black;margin-left: 5%;margin-top: 35%">  Input Data </p></b>
       </div>
      
           
          
        
       
      </ion-row>
 
  
   <ion-row padding>
     <ion-col class="col-7">
    <label style="color:white;margin-left: 5%;">Bussiness Details</label>
     </ion-col>
     <ion-col class="col-5">
        <label style="color:white;margin-left: 5%">Acquisition Structure</label>
      </ion-col>
   </ion-row>
 <ion-row>
  
    <ion-col style="margin-left:5%" class="col-4">
        <div style=" width: -webkit-fill-available;background: transparent;width: 95%">
          <ion-item lines="none"color="transparent" no-padding class="item" class="item item-trns text-center">
        <ion-label  style="color:rgb(98, 150, 98)!important; font-size: 15px;" position="floating">Asking Price</ion-label>
          <ion-input  type="text" style="color: white; --background-color:transparent !important;border-bottom: 1pt solid rgb(98, 150, 98);"></ion-input>
        </ion-item>
        </div>
      </ion-col>
      <ion-col class="col-6">
          <div style=" width: -webkit-fill-available;background: transparent;width: 95%">
            <ion-item lines="none" color="transparent"  no-padding class="item">
          <ion-label  style="color:rgb(98, 150, 98)!important; font-size: 15px;" position="floating">Multiple</ion-label>
            <ion-input  type="text" style="color: white; --background-color:transparent !important;border-bottom: 1pt solid rgb(98, 150, 98);"></ion-input>
          </ion-item>
          </div>
        </ion-col>
  </ion-row>
  <ion-row>
  
      <ion-col style="margin-left:5%" class="col-4">
          <div style=" width: -webkit-fill-available;background: transparent;width: 95%">
            <ion-item lines="none"color="transparent" no-padding class="item" class="item item-trns text-center">
          <ion-label  style="color:rgb(98, 150, 98)!important; font-size: 15px;" position="floating">Revenue</ion-label>
            <ion-input  type="text" style="color: white; --background-color:transparent !important;border-bottom: 1pt solid rgb(98, 150, 98);"></ion-input>
          </ion-item>
          </div>
        </ion-col>
        <ion-col class="col-6">
            <div style=" width: -webkit-fill-available;background: transparent;width: 95%">
              <ion-item lines="none" color="transparent"  no-padding class="item">
            <ion-label  style="color:rgb(98, 150, 98)!important; font-size: 15px;" position="floating">Seller Financing %</ion-label>
              <ion-input  type="text" style="color: white; --background-color:transparent !important;border-bottom: 1pt solid rgb(98, 150, 98);"></ion-input>
            </ion-item>
            </div>
          </ion-col>
    </ion-row>
    <ion-row>
  
        <ion-col style="margin-left:5%" class="col-4">
            <div style=" width: -webkit-fill-available;background: transparent;width: 95%">
              <ion-item lines="none"color="transparent" no-padding class="item" class="item item-trns text-center">
            <ion-label  style="color:rgb(98, 150, 98)!important; font-size: 15px;" position="floating">EDITDA/Cashflow</ion-label>
              <ion-input  type="text" style="color: white; --background-color:transparent !important;border-bottom: 1pt solid rgb(98, 150, 98);"></ion-input>
            </ion-item>
            </div>
          </ion-col>
          <ion-col class="col-6">
              <div style=" width: -webkit-fill-available;background: transparent;width: 95%">
                <ion-item lines="none" color="transparent"  no-padding class="item">
              <ion-label  style="color:rgb(98, 150, 98)!important; font-size: 13px;" position="floating">Yrs of seller Financing</ion-label>
                <ion-input  type="text" style="color: white; --background-color:transparent !important;border-bottom: 1pt solid rgb(98, 150, 98);"></ion-input>
              </ion-item>
              </div>
            </ion-col>
      </ion-row>
      <ion-row>
  
          <ion-col style="margin-left:5%" class="col-4">
            
            </ion-col>
            <ion-col class="col-6">
                <div style=" width: -webkit-fill-available;background: transparent;width: 95%">
                  <ion-item lines="none" color="transparent"  no-padding class="item">
                <ion-label  style="color:rgb(98, 150, 98)!important; font-size: 15px;" position="floating">Equity %</ion-label>
                  <ion-input  type="text" style="color: white; --background-color:transparent !important;border-bottom: 1pt solid rgb(98, 150, 98);"></ion-input>
                </ion-item>
                </div>
              </ion-col>
        </ion-row>
        <ion-row>
  
            <ion-col style="margin-left:5%" class="col-4">
             
              </ion-col>
              <ion-col class="col-6">
                  <div style=" width: -webkit-fill-available;background: transparent;width: 95%">
                    <ion-item lines="none" color="transparent"  no-padding class="item">
                  <ion-label  style="color:rgb(98, 150, 98)!important; font-size: 15px;" position="floating">Debt %</ion-label>
                    <ion-input  type="text" style="color: white; --background-color:transparent !important;border-bottom: 1pt solid rgb(98, 150, 98);"></ion-input>
                  </ion-item>
                  </div>
                </ion-col>
          </ion-row>
          <ion-row>
  
              <ion-col style="margin-left:5%" class="col-4">
                 
                </ion-col>
                <ion-col class="col-6">
                    <div style=" width: -webkit-fill-available;background: transparent;width: 95%">
                      <ion-item lines="none" color="transparent"  no-padding class="item">
                    <ion-label  style="color:rgb(98, 150, 98)!important; font-size: 15px;" position="floating">Year of Debt</ion-label>
                      <ion-input  type="text" style="color: white; --background-color:transparent !important;border-bottom: 1pt solid rgb(98, 150, 98);"></ion-input>
                    </ion-item>
                    </div>
                  </ion-col>
            </ion-row>
            <ion-row>
  
                <ion-col style="margin-left:5%" class="col-4">
                  
                  </ion-col>
                  <ion-col class="col-6">
                      <div style=" width: -webkit-fill-available;background: transparent;width: 95%">
                        <ion-item lines="none" color="transparent"  no-padding class="item">
                      <ion-label  style="color:rgb(98, 150, 98)!important; font-size: 15px;" position="floating">Interest Rate</ion-label>
                        <ion-input  type="text" style="color: white; --background-color:transparent !important;border-bottom: 1pt solid rgb(98, 150, 98);"></ion-input>
                      </ion-item>
                      </div>
                    </ion-col>
              </ion-row>
  

  </div>
  

</ion-content>


       
<ion-row   style="border-radius: 0px 0px 0px 40px;width: 100%;background-color:white; padding: 10px">
<div>
<b> <p style="color:black"> </p></b>
</div>
           
                
</ion-row>
     